# IntelliJ project files
.idea
*.iml
out
gen

# java

*.jar
*.class
META-INF

# compiler output

build
target

# kotlin

*.kotlin_module

# misc

.DS_Store
!samples/project-013-simple-databases/lib/h2-2.2.224.jar
!samples/project-013-simple-databases/lib/slf4j-api-2.0.9.jar
!samples/project-013-simple-databases/lib/slf4j-simple-2.0.9.jar
!samples/project-013-simple-databases/lib/sqlite-jdbc-3.45.3.0.jar
todos.*.db

# vitepress
node_modules
.vitepress/dist
.vitepress/cache

